	body {
		font-family: sans-serif;
		color: #808080;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	#source {
		background-color:#ffffff;
		border: 1px dashed #FFD026;
		width: 100%;
		padding: 5px;
	    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        font-family: sans-serif;
        -moz-box-shadow: 5px 5px 5px #FFBA75;
        -webkit-box-shadow: 5px 5px 5px #FFBA75;
        box-shadow: 5px 5px 5px #FFBA75;
	}
	#functions {
		background-color:white;
		border: 1px dashed #FFD026;
		width: 100%;
		padding: 5px;
	    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        font-family: sans-serif;
        -moz-box-shadow: 5px 5px 5px #FFBA75;
        -webkit-box-shadow: 5px 5px 5px #FFBA75;
        box-shadow: 5px 5px 5px #FFBA75;
	}
	#stack {
		background-color:#FFFfff;
		border: 1px dashed #FFffff;
		width: 100%;
	}
	#vars {
		width: 100%;
	}
	#run {
	  width: 100%;
	}
	h1 {
		margin: 0px;
		padding: 0;
		font-size: 24px;
		color: #7785FF;
	}
	h2, h3, h4 {
		margin: .5ex;
		color:  #7785FF;
		clear: both;
		
	}
	h3, h4 {
		color:  #7785FF
	}
	table#io { 
		width: 100%;
	}
	#io td {
		vertical-align: top;
		width: 33%;
		padding: 1ex;
	}
	p {
		margin-top: 3px;
		margin-bottom: 0px;
	}
	code {
		background-color:#FFF7D8;
		border:1px dashed #FFD026;
		display: block;
		white-space: pre;
		margin-left: 3em;
		width: 80%;
		padding: 2px 1em;
		color: black;
	}
	code.grammar {
		background-color:#F9F9F9;
		border:1px dashed #2F6FAB;
		color:black;
		line-height:1.1em;
		margin-top: 1em;
		margin-bottom: 1em;
		display: block;
		margin-left: 3em;
		width: 80%;
		padding: 2px 1em;
		color: black;
	}
	a.ambikbd:hover {
	    background-color: #FFED88; 
	}
	a.ambikbd {
	    -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        /*border: black 1px solid;*/
        margin: 3px;
        padding: 2px;
        background-color: #d0d0d0;
        color: black;
        line-height: 1.5em;
        white-space:nowrap;


	}
	td {
	    vertical-align: top;
	    padding: 1ex;
	}
	td#workingresults {
	    width: 20ex;
	    white-space:nowrap;
        
	}
    table#overview {
        width:100%;
    }
	td#iocolumn {
	    width: auto;
	}
	div#virtualkbd table{
	border-collapse: collapse;
	}
	div#virtualkbd table td{
    padding: 0;
	}
	div#virtualkbd {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: #FFD026 1px dashed;
    padding: 5px;
    width:100%;
    -moz-box-shadow: 5px 5px 5px #FFBA75;
    -webkit-box-shadow: 5px 5px 5px #FFBA75;
    box-shadow: 5px 5px 5px #FFBA75;

	}
	

	
